/* add font style */
@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900 */

.azeret-mono {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


/* Nave Style */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 200px;
}

.nav-title {
    font-weight: 600px;
    font-size: 45px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 51px;
}
nav li a {
    text-decoration: none;
    font-size: 20px;
    list-style: none;

}


/* button  */

.btn-primary{
    background-color: rgb(250, 85, 20);
    font-weight: bold;
    color: rgb(44, 42, 42);
    padding: 18px 36px;
    border: none; 
    border-radius: 5px;
    }

.contact-button {
    align-items: center;
    padding: 14px 20px;
    background-color: black;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    text-decoration: none;
    margin-left: 350px;
}
 /* Hover effect */
 .contact-button:hover {
    background-color: #eb0808;
}



/* hero section */
.hero-bg{
    background-image: url(image/Hero-bg.png);
    background-repeat: no-repeat;
    height: 652px;
    padding: 0px 221px 45px 221px;
    
}


.hero-title {
    font-weight: bold;
    font-size: 45px;
    text-align: center;
}

.hero-description{
    color: rgb(13, 19,33);
    padding-bottom: 32px;
    text-align: center;

}

/* images decoration */
.bg-img-prymary{
    margin: auto;
    display: flex;
    height: 240px;
    width: 245;
    align-items: center;
    padding-top: 26px;
}


